//- creates the login page format
mixin userLogin
  form(action='/login' method='POST')
    div
    label Username:
      input(type='text' name='username')
    div
    label Password:
      input(type='password' name='password')
    div
    button.round.tiny Login

//- creates the landing page format
mixin generateImageGallery(imageGallery)
  .row(data-equalizer='', data-equalizer-mq='large-up')
    div#imageRow
    each obj, index in imageGallery
      .large-4.medium-4.small-12.columns
        .images(data-equalizer-watch='')
          if index > 0
            a(href='/gallery/' + obj.id): img(src= obj.image).image
            span.details= obj.title
            span.details= obj.link

//- create the details page with hero image and column
mixin mainHeroImage(heroImage)
  a.button.round.tiny(href='/gallery/new') Add New Image
  h4= heroImage.title
  span= heroImage.link
  img(src= heroImage.image)
  p= heroImage.info
  a.button.info.round.tiny(href='/gallery/#{heroImage.id}/edit') Edit Image
  form(action='/gallery/#{heroImage.id}' method='POST' enctype="application/x-www-form-urlencoded")
    input(type='hidden' name='_method' value='DELETE')
    button.alert.round.tiny DELETE

//- creates the side column on details page
mixin sideColumn(shuffleGallery, selectedImage)
  each obj in shuffleGallery
      a(href='/gallery/' + obj.id): img(src= obj.image).image
      span.details= obj.title
      span.details= obj.link

//- creates the edit page format
mixin editImage(selectedImage)
  .row
    .large-8.large-offset-2.columns
      h4= selectedImage.title
      span= selectedImage.link
      img(src= selectedImage.image)
      p= selectedImage.info
      form(action="/gallery/#{selectedImage.id}" method="POST" enctype="application/x-www-form-urlencoded")
        div
        label Picture URL
          input(type="text" name="url" placeholder="...")
        div
        label Title
          input(type="text" name="title" placeholder="...")
        div
        label Link
          input(type="text" name="link" placeholder="...")
          input(type='hidden' name='_method' value='PUT')
        div
        label Description
          input(type="text" name="info" placeholder="...")
          input(type='hidden' name='_method' value='PUT')
        div
        button.round.tiny.success Edit

//- add new photo to the database and populate to client
mixin newPhotoAdd
      div
      label Picture URL
        input(type="text" name="url" placeholder="...")
      div
      label Title
        input(type="text" name="title" placeholder="...")
      div
      label Link
        input(type="text" name="link" placeholder="...")
      div
      label Description
        textarea(type="text" name="info" placeholder="...")
      div
      button.round.tiny.success POST
